@using System.Net.Http
@model DddWorkshop.Areas.Shop.Domain.Cart

@if (Model != null && !Model.IsEmpty())
{
    <div class="form-group">
    @Html.DisplayFor(x => x.CartItems)
    </div>

    <div class="form-group">
        @using (Html.BeginForm("CreateNew", "Order", FormMethod.Post))
        {
            <input class="btn btn-primary" type="submit" value="Order"/>
        }
    </div>
}
else
{
    <p>Cart is empty</p>
}